/* line 30, SCSS/partials/_extends.scss */
#kbe_container .kbe_article_list li a, #kbe_container .kbe_child_article_list li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 0;
  display: block;
}

/* line 40, SCSS/partials/_extends.scss */
#kbe_container .kbe_article_list li a:before, #kbe_container .kbe_child_article_list li a:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 16px;
  height: 16px;
  background: url(images/article.svg) no-repeat left center;
  background-size: 14px auto;
}

/* line 52, SCSS/partials/_extends.scss */
#kbe_container .kbe_article_list li, #kbe_container .kbe_child_article_list li {
  margin-top: 1rem;
  margin-left: 0;
  padding: 0 2rem;
  line-height: 20px;
  background-color: gray;
  border-radius: 5px;
}
/* line 9, SCSS/partials/_mixin.scss */
#kbe_container .kbe_article_list li:hover, #kbe_container .kbe_child_article_list li:hover, #kbe_container .kbe_article_list li:active, #kbe_container .kbe_child_article_list li:active, #kbe_container .kbe_article_list li:focus, #kbe_container .kbe_child_article_list li:focus {
  background-color: #5a5a5a;
}

/* line 65, SCSS/partials/_extends.scss */
#kbe_container .kbe_article_list, #kbe_container .kbe_child_article_list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

/* line 1, SCSS/partials/_search.scss */
.kbe_search_field {
  margin: 0 0 36px;
  width: 100%;
}
/* line 4, SCSS/partials/_search.scss */
.kbe_search_field input[type=text] {
  color: #5a5a5a;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  width: 438px;
  padding: 12px 17px 13px 60px;
  background: url(images/kbe_search_btn.png) no-repeat left #f2f2f2;
}

/* line 13, SCSS/partials/_search.scss */
#search-result {
  color: #f2f2f2;
  font-size: 14px;
  width: 517px;
  position: absolute;
  z-index: 9999;
  border-bottom: 1px solid #dbdbdb;
  background-color: gray;
}
/* line 21, SCSS/partials/_search.scss */
#search-result li {
  background-color: gray;
  background: url(images/article.svg) no-repeat scroll left 16px top 13px;
  background-size: 14px auto;
  list-style: none outside none;
  padding: 0 0 0 8px;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
/* line 9, SCSS/partials/_mixin.scss */
#search-result li:hover, #search-result li:active, #search-result li:focus {
  background-color: #343434;
}
/* line 29, SCSS/partials/_search.scss */
#search-result li:hover {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}
/* line 35, SCSS/partials/_search.scss */
#search-result li a {
  background-position: 20px center;
  background-repeat: no-repeat;
  display: block;
  color: #5a5a5a;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  padding: 12px 20px 12px 55px;
}
/* line 46, SCSS/partials/_search.scss */
#search-result li a:hover {
  color: #f2f2f2 !important;
  text-decoration: none;
  font-weight: normal;
}

/* line 55, SCSS/partials/_search.scss */
.kbe_no_result {
  background: url(images/article.svg) no-repeat;
  background-position: 2rem,center;
  background-color: gray;
  background-size: 14px auto;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-weight: bold;
  padding: 16px 0 14px 62px;
  display: inline-block;
  width: 453px;
}

/* line 7, SCSS/kbe_style.scss */
.kbe_badge {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  text-align: right;
  position: absolute;
  right: 0;
  width: 7rem;
  color: #404040;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
  background-color: #feffa4;
}
/* line 22, SCSS/kbe_style.scss */
.kbe_badge:after {
  content: "";
  clear: both;
  display: block;
}

/* line 28, SCSS/kbe_style.scss */
#kbe_container {
  background-color: #333333;
  border: solid 1px;
  border-radius: 10px;
  padding: 2.8rem;
  margin: 0 1rem;
  /* --------------------------------------------------
  media query
  -------------------------------------------------- */
  /* smart phone
  -------------------------------------------------- */
  /* tablet
  -------------------------------------------------- */
  /* PC(small)
  -------------------------------------------------- */
  /* PC(large)
  -------------------------------------------------- */
  /* PC(Extra large)
  -------------------------------------------------- */
}
/* line 34, SCSS/kbe_style.scss */
#kbe_container h2 {
  border-bottom: solid 3px #fff;
}
/* line 46, SCSS/kbe_style.scss */
#kbe_container .kbe_breadcrum {
  margin: 0 0 30px;
  overflow: hidden;
  width: 100%;
}
/* line 50, SCSS/kbe_style.scss */
#kbe_container .kbe_breadcrum ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 54, SCSS/kbe_style.scss */
#kbe_container .kbe_breadcrum ul li {
  float: left;
  padding: 0 3px 2px;
  line-height: 22px;
}
/* line 58, SCSS/kbe_style.scss */
#kbe_container .kbe_breadcrum ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
}
/* line 66, SCSS/kbe_style.scss */
#kbe_container .kbe_count {
  color: #f2f2f2;
  font-size: 14px;
  width: 88px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  float: right;
  display: block;
  background: #166c94;
}
/* line 78, SCSS/kbe_style.scss */
#kbe_container .kbe_category {
  width: 100%;
  margin: 0 0 10px 0;
  padding-left: 2.5rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 85, SCSS/kbe_style.scss */
#kbe_container .kbe_category h2 {
  all: initial;
  display: block;
  border-bottom: solid 3px #f2f2f2;
  padding-left: 1.5rem;
  background-color: #4763c2;
  border-radius: 5px;
}
/* line 9, SCSS/partials/_mixin.scss */
#kbe_container .kbe_category h2:hover, #kbe_container .kbe_category h2:active, #kbe_container .kbe_category h2:focus {
  background-color: #1c2954;
}
/* line 92, SCSS/kbe_style.scss */
#kbe_container .kbe_category h2:before {
  all: initial;
}
/* line 95, SCSS/kbe_style.scss */
#kbe_container .kbe_category h2 a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 70%;
}
/* line 102, SCSS/kbe_style.scss */
#kbe_container .kbe_category h3 {
  all: initial;
  top: 1rem;
  padding-left: 1rem;
  border-bottom: 3px solid #f2f2f2;
  border-left: 3px solid #f2f2f2;
  color: #fff;
  background-color: #dfa9a6;
  border-radius: 2px;
}
/* line 9, SCSS/partials/_mixin.scss */
#kbe_container .kbe_category h3:hover, #kbe_container .kbe_category h3:active, #kbe_container .kbe_category h3:focus {
  background-color: #ae443e;
}
/* line 111, SCSS/kbe_style.scss */
#kbe_container .kbe_category h3 a {
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  width: 70%;
  color: #fff;
}
/* line 118, SCSS/kbe_style.scss */
#kbe_container .kbe_category h3:before, #kbe_container .kbe_category h3:after {
  all: initial;
}
/* line 122, SCSS/kbe_style.scss */
#kbe_container .kbe_category span.switch {
  position: absolute;
  top: 4px;
  left: 0;
  margin: 0;
}
/* line 127, SCSS/kbe_style.scss */
#kbe_container .kbe_category span.switch img {
  cursor: pointer;
  margin: 0;
  content: none;
}
