@import "compass";
@import "partials/extends";
@import "partials/mixin";
@import "partials/variables";

@import "partials/search";
.kbe_badge{
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  float:right;
  color: $font-dark-color;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
  background-color: #feffa4;
  &:after{
    content: "";
    clear: both;
    display: block;
  }
}
#kbe_container {
  background-color: $back-color;
  border: solid 1px;
  border-radius: 10px;
  padding: 2.8rem;
  margin:0 1rem;
  h2{
    border-bottom: solid 3px $font-color;
  }
//   *zoom: 1;
//   background: $color_mine_shaft_approx;
//   color: $concrete;
//   width: 960px;
//   margin: 0 auto;
//   overflow: hidden;
//   padding: 10px;
//   //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
//   border-radius: 15px;
  .kbe_breadcrum {
    margin: 0 0 30px;
    overflow: hidden;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        padding: 0 3px 2px;
        line-height: 22px;
        a {
          text-decoration: none;
          font-size: 14px;
          color: $concrete;
        }
      }
    }
  }
  .kbe_count {
    color: $concrete;
    font-size: 14px;
    width: 88px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    float: right;
    display: block;
    background: $color_matisse_approx;
  }
  .kbe_category {
    width: 100%;
    margin: 0 0 10px 0;
    padding-left: 2.5rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
    h2 {
      all: initial;
      border-bottom: solid 3px $concrete;
      padding-left: 1.5rem;
      @include linkColor($back-blue-color);
      border-radius: 5px;
      &:before{
        all: initial;
      }
      a{
        display: inline-block;
        text-decoration: none;
        color:$font-color;
        width: 70%;
      }
    }
    h3 {
      all: initial;
      position: relative;
      padding-left: 1rem;
      border-bottom: 3px solid $concrete;
      border-left: 3px solid $concrete;
      color: $font-color;
      @include linkColor($back-pink-color);
      border-radius: 2px;
      a{
        display: inline-block;
        text-decoration: none;
        width: 70%;
        color:$font-color;
      }
      &:before, &:after{
        all:initial;
      }
    }
    span.switch {
      position: absolute;
      top: 4px;
      left: 0;
      margin: 0;
      img {
        cursor: pointer;
        margin: 0;
        content: none;
      }
    }
  }
  .kbe_article_list, .kbe_child_article_list {
    @extend %extend_article_list;
    li {
      @extend %extend_3;
      a {
        @extend %extend_1;
        &:before {
          @extend %extend-img-article;
        }
      }
      &:hover {
        background-color: $color_chicago_approx;
      }
    }
  }
  .kbe_child_article_list {
    @extend %extend_article_list;
  }

/* --------------------------------------------------
media query
-------------------------------------------------- */
// device
$type: xs sm md lg;
// import media-query.scss
@import "partials/media-query";
 
/* smart phone
-------------------------------------------------- */
@media only screen and (max-width:544px) {
 $type: xs;
 @import "partials/media-query"
}
/* tablet
-------------------------------------------------- */
@media only screen and (max-width:768px) {
  $type: sm;
  @import "partials/media-query"
}
/* PC(small)
-------------------------------------------------- */
@media only screen and (max-width:992px) {
  $type: md;
  @import "partials/media-query"
}
/* PC(large)
-------------------------------------------------- */
@media only screen and (max-width:1200px) {
  $type: lg;
  @import "partials/media-query"
}
/* PC(Extra large)
-------------------------------------------------- */
@media only screen and (min-width:1200px) {
  $type: xl;
  @import "partials/media-query"
}
//   #kbe_content {
//     .kbe_leftcol {
//       .kbe_articles {
//         ul {
//           padding: 0;
//           margin: 0;
//           list-style: none;
//           li {
//             span {
//               color: $color_cotton_candy_approx;
//               display: block;
//               font-size: 13px;
//               margin-bottom: 0;
//             }
//             p {
//               margin-bottom: 0;
//             }
//           }
//         }
//         .kbe_read_more {
//           float: right;
//           margin-top: -8px;
//           a {
//             font-size: 14px;
//           }
//         }
//       }
//       .kbe_articles_search {
//         ul {
//           padding: 0;
//           margin: 0;
//           list-style: none;
//           li {
//             a {
//               color: $search_link;
//               font-size: 16px;
//               font-weight: 600;
//               line-height: 32px;
//               text-decoration: none;
//               font-weight: normal;
//             }
//             span {
//               color: $color_cotton_candy_approx;
//               display: block;
//               font-size: 13px;
//               margin-bottom: 0;
//             }
//             p {
//               margin-bottom: 0;
//             }
//           }
//         }
//         .kbe_read_more {
//           float: right;
//           margin-top: -8px;
//           a {
//             font-size: 14px;
//             font-weight: normal;
//           }
//         }
//       }
//       a {
//         color: $color_matisse_approx;
//         text-decoration: none;
//       }
//       h4 {
//         font-size: 16px;
//         padding-bottom: 0;
//         margin-bottom: 10px;
//       }
//       ul {
//         list-style-type: disc;
//         padding: 0 19px;
//         margin-bottom: 20px;
//         li {
//           line-height: 35px;
//           font-size: 14px;
//           color: $color_cotton_candy_approx;
//         }
//       }
//       ol {
//         list-style-type: decimal;
//         padding: 0 21px;
//         margin-bottom: 20px;
//       }
//       span {
//         color: $color_cotton_candy_approx;
//         font-size: 16px;
//         margin-bottom: 40px;
//         display: block;
//         a {
//           text-decoration: none;
//           font-size: 14px;
//         }
//       }
//       .kbe_reply {
//         h4 {
//           font-size: 16px;
//           margin-bottom: 12px;
//         }
//         span {
//           font-size: 14px;
//           font-weight: normal;
//         }
//         label {
//           display: block;
//           margin-bottom: 7px;
//         }
//         input[type=text] {
//           width: 255px;
//           height: 27px;
//           margin-bottom: 23px;
//           border: 1px solid $alto;
//           padding: 10px;
//         }
//         textarea {
//           width: 602px;
//           height: 160px;
//           display: block;
//           margin-bottom: 30px;
//           padding: 10px;
//         }
//       }
//       .kbe_child_article_list li {
//         @extend %extend_3;
//         a {
//           @extend %extend_1;
//           &:before {
//             @extend %extend-img-article;
//           }
//         }
//         &:hover {
//           background-color: $color_chicago_approx;
//         }
//       }

//     }
//     .kbe_category {

//       h2 {
//         padding-left: 1rem;
//         a {
//           display: inline-block;
//           text-decoration: none;
//           color: $concrete;
//           width: 70%;
//         }
//       }
//       h3 {
//         padding-left: 1rem;
//       }
//       .kbe_child_category {
//         width: 100%;
//         height: auto;
//         margin-bottom: 30px;
//       }
//     }
//     .kbe_child_category {

//       h3 {
//         position: relative;
//         border-bottom: 1px solid $alto;
//         padding-bottom: 8px !important;
//         color: $concrete;
//         font-size: 20px !important;
//         span {
//           position: absolute;
//           right: 0;
//         }
//         a {
//           display: inline-block;
//           text-decoration: none;
//           color: $concrete;
//           width: 70%;
//           margin-top: 7px;
//         }
//       }
//     }
//   }
//   table {
//     border: 1px solid $alto;
//     padding: 4px;
//     font-size: 12px;
//     margin: 10px 0;
//     th {
//       font-weight: bold;
//     }
//     tr {
//       @extend %extend_5;
//     }
//     td {
//       @extend %extend_5;
//     }
//   }



//   .kbe_content_full {
//     width: 980px !important;
//     display: inline-block;
//     float: none;
//   }
//   .kbe_content_right {
//     width: 715px !important;
//     float: right;
//     .kbe_leftcol {
//       float: right !important;
//     }
//   }
//   .kbe_content_left {
//     width: 715px !important;
//     float: left;
//   }
//   .kbe_leftcol {
//     float: left;
//     width: 100%;
//     > h2 {
//       background-color: $color_waikawa_gray_approx;
//       padding: 0.5em;
//       //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
//       border-radius: 0.5em;
//       margin-bottom: 1rem;
//     }
//     > h3 {
//       color: $gray;
//       position: relative;
//       padding: 0.6em;
//       background: $color_pattens_blue_approx;
//       margin-bottom: 2rem;
//       &:after {
//         position: absolute;
//         content: '';
//         top: 100%;
//         left: 30px;
//         border: 15px solid transparent;
//         border-top: 15px solid $color_pattens_blue_approx;
//         width: 0;
//         height: 0;
//       }
//     }
//     p {
//       margin-left: 1.5rem;
//     }
//     h1{
//       border-bottom-color: gray;
//       border-bottom-style: solid;
//       border-bottom-width: 2px;
//       margin-bottom: 2rem;
//       &:first-letter{
//         font-size: 2em;
//         color: $color_picton_blue_approx;
//       }
//     }
//   }
//   .kbe_categories {
//     width: 100%;
//   }

//   #kbe_container {
//     blockquote {
//       margin: 15px 30px 0 10px;
//       padding-left: 20px;
//       border-left: 5px solid $concrete;
//       font-style: italic;
//       cite {
//         margin: 5px 0 0;
//         display: block;
//       }
//     }
//     .kbe_widget li {
//       margin-bottom: 16px;
//       margin-left: 0;
//       background: $url_2 no-repeat;
//       background-position: left center;
//       background-size: 18px auto;
//       padding: 0 0 0 25px;
//     }
//     .kbe_aside .kbe_widget_article li {
//       background: $url_img_article no-repeat left center;
//       background-size: 14px auto;
//     }
//   }
//   .kbe_aside {
//     width: 222px;
//     float: right;
//     &.kbe_aside_none {
//       display: none !important;
//     }
//     &.kbe_aside_left {
//       float: left !important;
//     }
//     &.kbe_aside_right {
//       float: right !important;
//     }
//   }
//   .kbe_widget {
//     margin-bottom: 40px;
//     content: "";
//     display: table;
//     clear: both;
//     h2 {
//       margin-bottom: 15px !important;
//       padding-bottom: 10px !important;
//     }
//     ul {
//       list-style: none !important;
//       margin: 0 !important;
//       padding: 0;
//     }
//     label {
//       font-size: 13px;
//       color: $concrete;
//       float: left;
//       margin: 0 20px 0 0;
//       line-height: 25px;
//     }
//     select {
//       width: 100px;
//       height: 26px;
//       background: $concrete;
//       border: 1px solid $alto;
//       font-size: 13px;
//       padding: 0 10px;
//       color: $concrete;
//     }
//     input[type=text] {
//       width: 90%;
//       height: 26px;
//       font-size: 13px;
//       color: $color_mine_shaft_approx;
//       padding: 0 5%;
//     }
//     .kbe_tags_widget {
//       float: left;
//       height: auto;
//       line-height: 26px;
//       width: 100%;
//       word-spacing: 4px;
//       margin-bottom: 40px;
//       a {
//         text-decoration: none;
//         line-height: 26px;
//         word-spacing: 4px;
//       }
//     }
//     li a {
//       color: $color_cotton_candy_approx;
//       text-decoration: none;
//       font-size: 14px;
//       line-height: 20px;
//     }
//     .wp-tag-cloud li {
//       background-size: 14px auto;
//       background-image: $url_4 !important;
//       background-repeat: no-repeat;
//       background-position: left center;
//     }
//   }
//   ol {
//     line-height: 35px;
//     font-size: 14px;
//     color: $color_cotton_candy_approx;
//   }
//   .kbe_reply {
//     width: 622px;
//     padding-top: 40px;
//     #comments {
//       margin-bottom: 16px;
//       font-size: 16px;
//     }
//     ol {
//       padding: 0 !important;
//       list-style: none !important;
//     }
//     ul {
//       list-style: none !important;
//       margin-left: 30px !important;
//       padding: 0 !important;
//     }
//     .fn {
//       font-size: 15px;
//       font-weight: bold;
//       text-transform: capitalize;
//       margin-left: 6px;
//     }
//     .comment-meta {
//       margin-top: -11px;
//       width: 50%;
//     }
//     .comment-edit-link {
//       display: none !important;
//     }
//     .says {
//       display: none !important;
//     }
//     .comment-body {
//       padding-left: 12px;
//       padding-top: 12px;
//     }
//     #respond {
//       h3 {
//         font-size: 18px;
//         padding-top: 18px !important;
//       }
//       form {
//         margin-top: 0;
//       }
//       input[type="text"] {
//         border: 1px solid $alto;
//         height: 39px !important;
//         margin-bottom: 23px;
//         padding: 10px;
//         width: 602px !important;
//       }
//       textarea {
//         display: block;
//         height: 160px;
//         margin-bottom: 30px;
//         padding: 10px;
//         resize: none;
//         width: 602px;
//       }
//     }
//     .cancel-comment-reply {
//       margin-top: 0;
//       font-size: 16px;
//     }
//     .commentlist li {
//       margin-top: 16px;
//       background-color: $concrete;
//       float: left;
//       padding-bottom: 12px;
//       //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
//       border-radius: 6px;
//       width: 100%;
//       p {
//         padding-right: 9px;
//       }
//       #respond {
//         border-top: 1px solid $alto;
//         margin-left: 10px;
//         width: 97%;
//       }
//     }
//     .children li {
//       background-color: $concrete;
//       margin-left: -10px;
//       margin-right: 12px;
//       padding: 0 0 10px 0 !important;
//     }
//   }
//   .kbe_tags_div {
//     width: 100%;
//     height: auto;
//     margin: 8px 0 16px;
//     overflow: hidden;
//     ul {
//       li {
//         float: left;
//         list-style: none;
//         padding-right: 6px;
//         text-transform: capitalize;
//         a {
//           color: $color_cotton_candy_approx !important;
//           text-decoration: none !important;
//           font-size: 14px;
//         }
//         &:last-child:after {
//           content: "";
//         }
//       }
//       li::after {
//         content: ",";
//       }
//     }
//   }
//   .kbe_tags_icon {
//     background: $url_3 no-repeat left top 1px;
//     float: left;
//     height: 25px;
//     width: 25px;
//     margin-right: 12px;
//   }
//   .kbe_articles_search ul li {
//     list-style: none outside none;
//     padding: 4px 0 24px 30px;
//     margin: 0 0 10px;
//     background: $url_img_article no-repeat left center;
//     background-size: 14px auto;
//     border-bottom: 1px solid $concrete;
//   }
// }
// .extend_article_list {
//   @extend %extend_article_list;
}