@mixin table_base{
	border: 1px solid #D3D3D3;
	padding: 4px;
	font-size: 12px;
}

@mixin image_article{
	content: '';
	display: inline-block;
	margin-right: 1rem;
	width: 16px;
	height: 16px;
	background: url(images/article.svg) no-repeat left center;
	background-size: 14px auto;
}