@mixin table_base{
	border: 1px solid #D3D3D3;
	padding: 4px;
	font-size: 12px;
}

@mixin linkColor($color, $amount:30%) {
	background-color: $color;
	&:hover, &:active, &:focus {
		background-color: darken($color, $amount);
	}
}