  .kbe_search_field {
    margin: 0 0 36px;
    width: 100%;
    input[type=text] {
      color: $color_chicago_approx;
      font-size: 15px;
      border: 1px solid $alto;
      width: 438px;
      padding: 12px 17px 13px 60px;
      background: $url_1 no-repeat left $concrete;
    }
  }
  #search-result {
    color: $search_link;
    font-size: 14px;
    width: 517px;
    position: absolute;
    z-index: 9999;
    border-bottom: 1px solid $alto;
    background-color: $gray;
    li {
      @include linkColor($gray);
      background: $url_0 no-repeat scroll left 16px top 13px;
      background-size: 14px auto;
      list-style: none outside none;
      padding: 0 0 0 8px;
      border-left: 1px solid $alto;
      border-right: 1px solid $alto;
      &:hover {
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
      }
      a {
        background-position: 20px center;
        background-repeat: no-repeat;
        display: block;
        color: $color_chicago_approx;
        text-decoration: none;
        color: $search_link;
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        padding: 12px 20px 12px 55px;
        &:hover {
          color: $search_link !important;
          text-decoration: none;
          font-weight: normal;
        }
      }

    }
  }
  .kbe_no_result {
    background: $url_0 no-repeat;
    background-position: 2rem,center;
    background-color: $gray;
    background-size: 14px auto;
    border-bottom: 1px solid $alto;
    border-left: 1px solid $alto;
    border-right: 1px solid $alto;
    font-weight: bold;
    padding: 16px 0 14px 62px;
    display: inline-block;
    width: 453px;
  }