$bg-color:#333;
$font-color:#fff;
$font-dark-color:#404040;
$font-active-color:#ffb8cf;
$font-info-color:#feffa4;
$border-color:#cccccc;
$back-color:#333333;
$back-light-color:#6fd274;
$back-blue-color:#4763c2;
$back-pink-color:#dfa9a6;
//colors
$color_cotton_candy_approx: #ffb8cf;
$gray: gray;
$color_chicago_approx: #5a5a5a;
$color_mine_shaft_approx: #333;
$alto: #dbdbdb;
$search_link: #f2f2f2;
$color_picton_blue_approx: #42bcf4;
$color_waikawa_gray_approx: #5870a0;
$color_pattens_blue_approx: #e0edff;
$color_matisse_approx: #166c94;
$concrete: #f2f2f2;

//urls
$url_img_article: url(images/article.svg);
$url_1: url(images/kbe_search_btn.png);
$url_2: url(images/angle-right.svg);
$url_3: url(images/kbe_icon_tag.png);
$url_4: url(images/tag.svg);